<section class="home-index">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="top-pic_area">
					<div class="online-img">
						<img src="<%= asset_path "banner_online.jpg" %>">
					</div>
					<div class="top-pic_slide">
						  <ul class="slick01" >
				         <li>
				         	<img src="<%= asset_path "top1.jpg" %>">
									<span>
										<a href="#">口コミ4年連続1位】贅沢主食♦︎千屋牛×フォアグラ♦︎体感フェア</a>
									</span>
				         </li>
				         <li>
				         	<img src="<%= asset_path "top2.jpg" %>">
				         	<span>
				         	  <a href="#">【2周年記念】豪華2万円相当コースの贅沢試食フェア</a>
				         	</span>
				         </li>
				         <li>
				         	<img src="<%= asset_path "top3.jpg" %>">
				         	<span>
				         	  <a href="#">大注目！\年に一度のBIGフェア/贅沢無料試食×天空チャペル♪</a>
				         	</span>
				         </li>
				         <li>
				         	<img src="<%= asset_path "top4.jpg" %>">
				         	<span>
				         	  <a href="#">4連休限定【A5和牛×フォアグラ】口コミ1位シェフ特選無料試食</a>
				         	</span>
				         </li>
				         <li>
				         	<img src="<%= asset_path "top5.jpg" %>">
				         	<span>
				         	  <a href="#">4連休限定【8大特典付き】憧れドレス×模擬挙式×厳選和牛試食</a>
				         	</span>
				         </li>
				         <li>
				         	<img src="<%= asset_path "top6.jpg" %>">
				         	<span>
				         	  <a href="#">BIGフェア！【光溢れる2つの天空チャペル】厳選6品試食×ドレス</a>
				         	</span>
				         </li>
				         <li>
				         	<img src="<%= asset_path "top7.jpg" %>">
				         	<span>
				         	  <a href="#">無料オンライン相談会のお知らせ</a>
				         	</span>
				         </li>
				      </ul>
					</div>
				</div>
				<div class="top-concept_area">
					<div class="top-concept">
						<h2 id="hoge">CONCEPT</h2>
						<p>コンセプト</p>
						<h3>おふたりのこだわりをすべて叶える</h3>
						<h3>スカイウェディング</h3>
						<p>岡山のランドマーク「クレド岡山」高階層をステージに、<br>
							どのようなウェディングスタイルも叶える『THE STYLE』。<br>
							おふたりとゲストで独占できるワンフロア貸切り。<br>
							街並みを一望する大パノラマと完全オリジナルのおいしい料理で<br>
							ゆったりとおもてなしできます。<br>
							ラグジュアリー感を極めた21階、自由なコーディネートで楽しむ20階。<br>
							幸せの舞台は、おふたりのテイストでお選びいただけます。<br>
						</p>
					</div>
				</div>
				<div class="top-concept_box">
					<div class="concept-box">
						<div class="concept-style">
							<img src="">
							<h5>どのようなスタイルも叶える<br>ワンフロア貸切りの結婚式</h5>
							<p>21階、20階いずれもワンフロア貸切りなのでトータルコーディネートでゲストをお迎えし、世界でひとつだけのウェディングスタイルが叶います。</p>
							<a href="#" class="btn">more ></a>
						</div>
						<img src="">
					</div>
					<div class="concept-box">
						<div class="concept-style">
							<img src="">
							<h5>世界にひとつのオリジナルメニューで<br>心伝えるおもてなし</h5>
							<p>おふたりのこだわりや思い出を再現する完全フルオーダーメニュー。シェフ厳選の素材で味わい深いお料理をゲストとともにお楽しみいただけます。</p>
							<a href="#" class="btn">more ></a>
						</div>
						<img src="">
					</div>
					<div class="concept-box">
						<div class="concept-style">
							<img src="">
							<h5>クレド高階層からの眺望と<br>岡山中心部ならではの利便性</h5>
							<p>祝福の舞台は大パノラマが広がる、岡山のランドマーク高階層。市内中心部に位置しているのでゲストにわかりやすく、二次会への移動にも便利です。</p>
							<a href="#" class="btn">more ></a>
						</div>
						<img src="">
					</div>
				</div>
				<div class="image-slide"></div>
				<div class="main-introduction">
					<div class="introduction-21F">
						<img src="">
						<div class="">
							<img src="">
							<p>- 21F/グランジュール -</p>
							<img src="">
							<a href="" class="btn">21F会場の詳細を見る ></a>
						</div>
					</div>
					<div class="introduction-20F">
						<img src="">
						<div class="">
							<img src="">
							<p>- 20F/ナンバートゥエンティ -</p>
							<img src="">
							<a href="" class="btn">20F会場の詳細を見る ></a>
						</div>
					</div>
					<div class="introduction-cuisine">
						<img src="">
						<div class="">
							<img src="">
							<img src="">
							<p>グランシェフと綿密に打ち合わせを重ねながら、おふたりのこだわりをお料理で再現。厳選素材のおいしい味わいがテーブルをにぎやかに彩ります。</p>
							<a href="" class="btn">料理の詳細を見る ></a>
						</div>
					</div>
					<div class="bottom-concept_box">
						<ul>
							<li>
								<img src="">
							</li>
							<li>
								<img src="">
								<img src="">
								<p>
									世界最高峰のドレスコレクションをはじめインポート・人気タレントデザインのものなど多彩。<br>
									どうぞ、運命の一着に出会ってください。
								</p>
								<p>
									<a href="#" class="btn">ドレスの詳細を見る ></a>
								</p>
							</li>
							<li>
								<img src="">
							</li>
							<li>
								<img src="">
								<img src="">
								<p>担当プランナーを中心にシェフ、フローリスト、スタイリストなどの専門スタッフが、おふたりのスペシャルチームとして最高の結婚式を実現します。</p>
								<p>
									<a href="#" class="btn">サービスの詳細を見る ></a>
								</p>
							</li>
							<li>
								<img src="">
							</li>
							<li>
								<img src="">
								<img src="">
								<p>
									JR岡山駅から車で5分。<br>
									遠方からのゲストも安心してご招待できます。後楽園や岡山城など岡山を代表する観光スポットも見渡せます。
								</p>
								<p>
									<a href="#" class="btn">ロケーションの詳細を見る ></a>
								</p>
							</li>
						</ul>
					</div>
					<div class="present-area">
						<h3><img src=""></h3>
						<div class="table">
							<dl>
								<dt><img src=""></dt>
								<dd>
									<p>フォトアルバム(データ付)140,000円分プレゼント</p>
									<span>THE STYLE20th フロアのオープン2周年を記念した限定特典をご用意。詳しくはフェアでチェック</span>
									<span>適用期間：2020年7月末まで<br>※その他特典・プランとの併用不可</span>
								</dd>
							</dl>
							<dl>
								<dt><img src=""></dt>
								<dd>
									<p>併設レストラン　ペアディナーチケット2万円</p>
									<p>QUOカード3,000円プレゼント(1件目来館特典)</p>
								</dd>
							</dl>
							<dl>
								<dt><img src=""></dt>
								<dd>
									<p>衣装プラン48万円プレゼント(ドレス2点＋TXD1点)</p>
									<p>挙式料　20万円プレゼント</p>
									<span>適用期間：2020年7月末まで<br>※その他特典・プランとの併用不可</span>
								</dd>
							</dl>
						</div>
						<p>※40名以上の挙式・披露宴</p>
						<p>おふたり揃ってのご来館、当日ご成約に限る</p>
						<div class="more">
							<a href="" class="btn">来店予約はこちら ></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
