<!DOCTYPE html>
<html>
  <head>
    <title>WeddingPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ed4356e0bc.js" crossorigin="anonymous"></script>
  </head>


  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <%= yield %>
    <footer>
      
    
  </body>
</html>
